# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Local env files
.env
.env.local

# SSH / certs — never commit
*.pem
*.key

# Logs
*.log

#Claude
CLAUDE.md

backend-0.1.0.tgz
frontend-0.1.0.tgz
mysql-0.1.0.tgz

